venv/
pycache/

.env
.env_encoded
*.json
*.pem

data/
*.csv
*.parquet

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfvars
terraform/terraform-provider*

dbt/target/
dbt/dbt_packages/

suivie.md
Etape.md